/* .card {
    box-shadow: 3px 3px 3px rgb(219, 144, 5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #e60f0f;
    align-items: center;
    width: 25%;
    height: 45vh;
    background-color: #cecece9c;
    transition: transform 0.3s, background-color 0.3s;
  } */
  .card{
    margin: 1rem;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(196, 118, 41, 0.863);
    justify-content: space-between;
    color: #fff;
    border-radius: 1.5rem;
  }
  
  .card:hover {
    background-color: #404040;
    transform: scale(1.08, 1.08);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .card img {
    width: 60%;
    height: 270px;
  }
  
  .info {
    margin-top: 2rem;
    display: flex;
    margin: 5% 5%;
    flex-direction: column;
    height: 100%;
    width: 75%;
  }
/*   .info2{
    margin-top: 2rem;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  
  .info p {
    margin: 0%;
    margin-top: 3%;
  }
  
  .title {
    font-family: Arial;
    font-size: 15pt;
    font-weight: bold;
    text-align: justify;
    height: 10vh;
    color: aqua;
  }

  .title2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 20rem;
    height: 5rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .dieta {
    font-size: 1.5rem;
    color: #b03a2e;
    font-weight: bold;
    margin: 0%;
  }
  
  .info ul {
    list-style: square;
    display: flex;
    font-size: 1.3rem;
    margin: 0;
    margin-top: 2%;
    gap: 20%;
    flex-wrap: wrap;
  }
  
  .link {
    text-align: center;
    text-decoration: none;
    color: #2812ca;
    font-weight: bold;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: white;
    transition: color 0.5s;
  }
  
  @media (max-width: 1190px) {
    .card {
      height: min-content;
    }
  
    .card img {
      height: 200px;
    }
  
    .info {
      height: 33vh;
    }
  
    .title {
      height: 10vh;
    }
  
    .info ul {
      font-size: 1rem;
      padding: 0% 6%;
      margin-top: 1%;
      margin-left: 5%;
      gap: 15%;
    }
    .link {
      margin-bottom: 5%;
    }
  }
  
  @media (max-width:960px){
    .info {
      height: 21vh;
    }
    
    .title {
      height: 7vh;
    }
  }
  
  @media (max-width: 780px) {
    .card {
      width: 45%;
  }
  }
  
  @media (max-width: 665px) {
    .dieta{
      font-size: 1.2rem;  
    }
  }
  @media (max-width: 510px) {
    .card {
      width: 90%;
  }
  .info {
    height: 24vh;
  }
  
  .title {
    height: 9vh;
  }
  }
  
  @media (max-width: 370px) {
    .card {
      width: 90%;
  }
  }
  
  @media (max-width: 285px) {
    .card{
      width: 95%;
    }
    .info {
      height: 30vh;
    }
    
    .title {
      height: 10vh;
    }
  }